<%= form_for [book, book_comment] do |f| %>
    <div class="row">
        <div class="col-sm-12">
            <%= f.text_area :comment, rows:'5', class: "form-control",placeholder: "コメントをここに" %><br>
        </div>
    </div>
    <%= f.submit "送信する", class: "btn btn-lg btn-base-1 btn-primary  mt-20 pull-right" %>
<% end %>